@font-face {
    font-family: LibreBaskervilleBold;
    src: url(../fuentes/LibreBaskerville-Bold.ttf);
}
@font-face {
    font-family: LibreBaskervilleRegular;
    src: url(../fuentes/LibreBaskerville-Regular.ttf);
}