/*NOSOTROS*/
.contenedorGrid__main{
    .cajaEstilo{
        width: 85%;
        margin-left: 15%;
        .cajaEstilo__nosotros{
            .cajaEstilo__frase-nosotros{
                font-style: italic;
                border-left: solid 3px #433030;
                padding-bottom: 50px;
                margin: 10px;
            }
        }
        .cajaEstilo__parrafo{
            text-align: left;
            word-spacing: 5px;
            line-height: 1.7rem;
        }
    }
}