/* -------------------------------------------------- PANTALLAS ---------------------------------------------------------------*/

@media only screen and (max-width: 768px){
    .contenedorGrid{
        .contenedorGrid__header{
            position: relative;
            .menuInicio{
                margin-bottom: 0%;
                .menuInicio__container{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .menuElementos{
                        .menuElementos__lista{
                            .menuElementos__elemento-lista--desplegable:hover{
                                .menuElementos__submenu-elemento{
                                    display: none;
                                }
                            }
                        }
                        .menuElementos__redes{
                            .menuElementos__enlace-redes{
                                .menuElementos__imagen-redes{
                                    display: none;
                                }
                            }
                            
                        }
                    }
                }
            }
            .nombreTitulo{
                min-height: 0vh;
            } 
       }
    }
    /*NOSOTROS*/
    .contenedorGrid__main{
        .cajaEstilo{
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }
    }

    /*-- CONTACTO --*/

    .contenedorGrid__main{
        .contenedorAll{
            
            .contenedorContacto{
               width: 90%;
               min-width: auto;
               margin: 20px;
               box-shadow: 0 20px 50px rgba(0,0,0,0.2);
               display: flex;
               flex-direction: column-reverse;
                .contenedorContacto__informacion{
                    top: 0;
                    height: auto;
                    position: relative;
                    box-shadow: none;
                    width: 100%;
                    padding: 25px;
                    flex-direction: column;
                    align-items: flex-start;
                    .contenedorContacto__redes{
                        margin-top: 30px;
                    }
                }
                .contenedorContacto__formulario{
                    position: relative;
                    width: 100%;
                    padding-left: 0;
                    margin-left: 0;
                    padding: 25px;
                    height: auto;
                    box-shadow: none;
                    .cajaFormulario{
                        
                        .cajaFormulario__info--w50{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    /*-- COMBOS --*/
    .contenedorGrid__main{
        .boxCombo{    
            .boxCombo__descripcion{
                height: auto;
                .boxCombo__titulo-descripcion{
                    
                    .boxCombo__titulo-descripcion--size{
                        font-size: 10mm;
                        width: 200px;
                    }
                }
                .boxCombo__texto-descripcion{
                    margin-left: 3%;
                }
            }
        }
    }
    /*-- FOOTER --*/
    .contenedorGrid__footer{
        padding: 40px;
        .contenedorGrid__body{
            flex-direction: column;
            .contenedorGrid__columInfo-footer{
                width: 100%;
            }
            .contenedorGrid__columLinks-footer{
                width: 100%;
            }
            .contenedorGrid__columContacto-footer{
                width: 100%;
            }
            .contenedorGrid__body--margin{
                margin-right: 0;
                margin-bottom: 40px;
            }
        }
    }
}

/* -------------------------------------------------- PANTALLA TABLET ---------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .contenedorGrid{
        .contenedorGrid__header{
            .menuInicio{
                flex-wrap: wrap;
                .menuInicio__container{
                    .menuElementos{
                        .menuElementos__lista{
                            .menuElementos__elemento-lista--desplegable:hover{
                                .menuElementos__submenu-elemento{
                                    display: none;
                                }
                            }
                        }
                        .menuElementos__redes{
                            .menuElementos__enlace-redes{
                                .menuElementos__imagen-redes{
                                    display: none;
                                }
                            }
                            
                        }
                    }
                }
            }
            .nombreTitulo{
                min-height: 0vh;
            }      
       }
    }
    /*-- CONTACTO --*/

    .contenedorGrid__main{
        .contenedorAll{
            
            .contenedorContacto{
               width: 90%;
               min-width: auto;
               margin: 20px;
               box-shadow: 0 20px 50px rgba(0,0,0,0.2);
                .contenedorContacto__informacion{
                    top: 0;
                    height: 550px;
                    position: relative;
                    box-shadow: none;
                    padding: 25px;
                    flex-direction: column;
                    align-items: flex-start;
                    .contenedorContacto__redes{
                        margin-top: 30px;
                    }
                }
                .contenedorContacto__formulario{
                    position: relative;
                    width: calc(100% - 350px);
                    padding-left: 0;
                    margin-left: 0;
                    padding: 25px;
                    height: 550px;
                    box-shadow: none;
                    .cajaFormulario{
                        
                        .cajaFormulario__info--w50{
                            width: 49%;
                        }
                    }
                }
            }
        }
    }

    /*-- COMBOS --*/
    .contenedorGrid__main{
        .boxCombo{
            .boxCombo__descripcion{
                height: 450px;
                .boxCombo__titulo-descripcion{
                    width: 400px;
                }
                .boxCombo__texto-descripcion{
                    margin-left: 3%;
                    margin-bottom: 10%;
                }
            }
        }
    }

    /*-- FOOTER --*/
    .contenedorGrid__footer{
        
        .contenedorGrid__footer-all{
            
            .contenedorGrid__body{
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .contenedorGrid__columRedes-body{
                    margin-top: 20px;
                    width: 400px;
                }
                .contenedorGrid__columContacto-body{
                    margin-top: 20px;
                    width: 400px;
                }
            }
        }
    }
}